---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';

import Button from '../components/Button.astro';

import BaseLayout from '../components/BaseLayout.astro';

interface MarkdownFrontmatter {
  publishDate: number;
}

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Example Blog';
let description = 'The perfect starter for your perfect blog.';
let permalink = 'https://example.com/';

// Data Fetching: List all Markdown posts in the repo.

let allPosts = Astro.fetchContent<MarkdownFrontmatter>('./posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf());

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
    <!-- <main class="content">
        <section class="intro">
            <h1 class="latest">{title}</h1>
            <p>{description}</p>
        </section>
        <section aria-label="Blog post list">
            {allPosts.map(p => <BlogPostPreview post={p} />)}
        </section>
    </main> -->
<BaseLayout title="Software Developer and Maker" description="some description">
    <div class="relative">
      <div class="z-10 h-[30rem]">
          <div class="flex items-center justify-center h-full">
              <div class="text-center">
                  <h2 class="text-[36px] leading-[54px] sm:text-[64px] sm:leading-[96px]">
                      Hi there, I'm Lloyd
                  </h2>
                  <h3 class="text-[30px] leading-[45px] text-gray-500 sm:text-[48px] sm:leading-[72px]">
                      I make things
                  </h3>
              </div>
          </div>
      </div>
    </div>
</BaseLayout>
<!-- <html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
  </head>

  <body>
    <BlogHeader />
    <div class="layout">
    <Button>Test</Button>
      <main class="content">
        <section class="intro">
          <h1 class="latest">{title}</h1>
          <p>{description}</p>
        </section>
        <section aria-label="Blog post list">
          {allPosts.map(p => <BlogPostPreview post={p} />)}
        </section>
      </main>
    </div>
  </body>
</html> -->
