---
import BaseHead from '../components/BaseHead';
import BlogHeader from '../components/BlogHeader';

export interface Props {
    title: string;
    description: string;
    image?: string;
    imageDescription?: string;
    publishDate?: Date;
    modifiedDate?: Date;
    categories?: []
    openGraphType: 'website' | 'article';
};
const {
    title,
    description,
    image,
    publishDate,
    modifiedDate,
    categories,
    openGraphType,
} = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead
            title={title}
            description={description}
            image={image}
            publishDate={publishDate}
            modifiedDate={modifiedDate}
            categories={categories}
            openGraphType={openGraphType} />
    </head>
    <body class="prose">
        <slot/>
    </body>
</html>