---
import Debug from 'astro/debug';

import BaseLayout from '../layouts/BaseLayout.astro';
import { Markdown } from 'astro/components';
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogPost from '../components/BlogPost.astro';

const { content } = Astro.props;
// const { title, description, publishDate, author, heroImage, permalink, alt } = content;
const { title, description, image, imageDescription, publishDate, modifiedDate, categories, permalink } = content;
---
<!-- <html lang={ content.lang || 'en' }>
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
  </head>

  <body>
    <BlogHeader />
    <BlogPost title={title} author={author} heroImage={heroImage} publishDate={publishDate} alt={alt}>
      <slot />
    </BlogPost>
  </body>
</html> -->
<BaseLayout
    title={title}
    description={description}
    image={image}
    imageDescription={imageDescription}
    publishDate={publishDate}
    modifiedDate={modifiedDate}
    categories={categories}
    openGraphType="article"
    permalink={permalink}>
    <Debug {content} />
</BaseLayout>