---
import BaseLayout from '../layouts/BaseLayout.astro';

const { content } = Astro.props;
const { title, description, image, permalink } = content;
---

<BaseLayout
    title={title}
    description={description}
    image={image}
    permalink={permalink}>
    <h2 class="mb-8 text-center text-[30px] leading-[45px] font-medium">
        {title}
    </h2>
    <div class="prose max-w-none">
        <slot />
    </div>
</BaseLayout>